td {
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 24px;
}

table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

a {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 0.5rem;
  background-color: #0192d6;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  margin-bottom: 1rem;
}
